.drop {
    display: flex;
    flex-direction: column;
        margin: 24px 0;
    align-items: start;

}

.drop label{
        margin-bottom: 16px; 
        display: block;
    }
    
    .drop select{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
            border: none;
        display: block;
    padding: 16px;
    width: 100%;
}